.container
  %h1 New Task
  = form_with(model: @task, url: board_tasks_path, method: 'post', local: true) do |f|
    %br/
    = f.label :eye_catch, 'eyecatch'
    %br/
    = f.file_field :eye_catch
    %br/
    = f.label :title, 'Name'
    %br/
    = f.text_field :title, class: 'text'
    %br/
    = f.label :content, 'Description'
    %br/
    = f.text_area :content, class: 'text'
    %br/
    = f.label :deadline, 'Deadline'
    %br/
    = f.date_select :deadline, class: 'date'
    %br/
    = f.submit "Submit", class: 'btn-primary'