.container
  .header-sub
    .header-title
      %h1
        = @task.title
    - if @task.eye_catch.attached?
      = image_tag @task.eye_catch, class: 'eye_catch'

  .board-list
    .board-item
      .board-description
        = @task.content
      .board-footer
        .avatar
          = image_tag @user.avatar_image, class: 'header_avatar'
      - if user_signed_in? && current_user.has_written_task?(@task)
        .board_detail_actions
          .dropdown
            = image_tag 'select.png', class: 'dropbtn'
            .dropdown-content.mini
              = link_to '編集する', edit_board_task_path(params[:board_id],@task)
              = link_to '削除する', board_task_path, data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }

.container
  .header-title
    %h2 Comments

  - @comments.each do |comment|
    .comment-item
      .board-description
        = comment.content
      .board-footer
        .avatar
          = image_tag comment.user.avatar_image, class: 'header_avatar'

.container
  .board-list
    = link_to 'Add New Comment', new_board_task_comment_path(params[:board_id],@task), class: 'add-board'