.container
  .header-sub
    %h1 All Boards
  .board-list
    - @boards.each do |board|
      = link_to board_path(id: board.id) do
        .board-item
          .board-title
            = board.title
          .board-description
            = board.content
          .board-footer
            .avatar
              - if user_signed_in? && current_user.has_written?(board)
                = image_tag current_user.avatar_image, class: 'header_avatar'
              - else
                = image_tag 'User.png', class: 'header_avatar'
          - if user_signed_in? && current_user.has_written?(board)
            .board_detail_actions
              .dropdown
                = image_tag 'select.png', class: 'dropbtn'
                .dropdown-content.mini
                  = link_to '編集する', edit_board_path(board)
                  = link_to '削除する', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    - if user_signed_in?
      .add-board
        = link_to new_board_path do
          .board-item
            + Add new board
%end