.container
  .header-sub
    %h1 All Tasks
  .board-list
    .board-item
      .board-title
        = @board.title
      .board-description
        = @board.content
      .board-footer
        .avatar
          = image_tag @board.user.avatar_image, class: 'header_avatar'
      - if user_signed_in? && current_user.has_written?(@board)
        .board_detail_actions
          .dropdown
            = image_tag 'select.png', class: 'dropbtn'
            .dropdown-content.mini
              = link_to '編集する', edit_task_path(@board)
              = link_to '削除する', task_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  - if user_signed_in?
    .add-board
      = link_to new_task_path do
        .board-item
          + Add new task
%end